@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: Inter, Roboto Mono;
  margin: 0;
  padding: 0;
}

body {
  color: #0D1321;
}
p{
  color: #57575c;
  font-size: 0.9rem;
}
/* Top Header - Navbar > Name & Resume */
header {
  /* background-color: #4c4f69; */
  width: 100%;
  height: 70px;
}

.navDev {
  float: left;
  font-family: Roboto Mono;
  color: #4c4f69;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 5%;
}

.navDev:hover .quotation {
  color: #dd7878;
}

.resume {
  font-family: Roboto Mono;
  float: right;
  margin: 15px 5%;
  padding: 10px 20px;
  color: #4c4f69;
  background-color: transparent;
  border: 1px solid #4c4f69;
  border-radius: 5px;
  transition: 0.1s;
}

.resume:hover {
  font-weight: bold;
  border-left: 4px solid #4c4f69;
  border-bottom: 4px solid #4c4f69;
}

/* Hero */
.hero {
  width: 100%;
  height: 520px;
  margin-top: 10px;
  background-image: url(../assets/Hero-bg.png);
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero>.programmer {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 50px 25px;
  left: 40%;
}

.hero>.content {
  color: #0D1321;
  width: 100%;
  margin-top: 320px;
  position: relative;
}

.content>.hero_moto {
  width: 60%;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 0 auto;
  transition-duration: 0.2s;
}

.hero_moto:hover .quotation {
  color: #dd7878;
}

.content>.speech {
  width: 55%;
  display: block;
  text-align: center;
  margin: 16px auto;
}

.content>.contact {
  font-family: Roboto Mono;
  position: absolute;
  left: 45%;
  /* margin-top: 32px; */
  padding: 10px 20px;
  color: #eff1f5;
  background-color: #4c4f69;
  border: 1px solid #eff1f5;
  border-radius: 5px;
  transition: 0.1s;
}

.content>.contact:hover {
  font-weight: bold;
  color: #4c4f69;
  background-color: #eff1f5;
  border: 1px solid #4c4f69;
}

/* Why(?) Explaination */
.why{
  background-color: #f9f9ff;
  /* border: 1px solid #4c4f69; */
  margin: 64px 100px;
  justify-content: center;
  padding-bottom: 24px;
}
.why >.headline{
  /* position: absolute; */
  padding: 48px 120px;
}
.headline > h2, .headline>p{
  margin: 12px auto;
  text-align: center;
}
.why>.part{
  background-color: #ffffff;
  /* border: 1px solid #4c4f69; */
  margin: 0 50px 50px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
}
/* .why>.part>.textbox{
  width: 50%;
} */
.why>.part>.textbox>h2,
.why>.part>.textbox>p{
  margin-bottom: 15px;
  width: 70%;
}
.why>.part>.textbox>.learn{
  font-family: Roboto Mono;
  margin: 15px 0;
  padding: 10px 20px;
  color: #4c4f69;
  background-color: transparent;
  border: 1px solid #4c4f69;
  border-radius: 5px;
  transition: 0.1s;
}
.why>.part>.textbox>.learn:hover{
  font-weight: bold;
  border-left: 4px solid #4c4f69;
  border-bottom: 4px solid #4c4f69;
}
.why>.part>.image{
  width: auto;
  height: auto;
  display: inline;
  margin: 0 32px;
}